@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:slnt,wght@-10..0,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.end{
    margin-top: 100px;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'inter', sans-serif;
}
header{
   
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}
.header-items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 65vw;
}
.header-title{
    color: rgba(230, 83, 60, 1);
    font-variation-settings:
      "slnt" -20;
   font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}
.header-fitness{
      font-weight: 900;
      
}

nav ul{
    display: flex;
    gap: 60px;
    border: 0.1px solid rgb(71, 71, 71);
    border-radius: 30px;
    padding: 10px 15px;
}
nav li{
    list-style: none;
}
nav li a{

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 100; 
}
.home{
  font-weight: 600;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 30px;
  padding: 8px 20px;
  margin-left: -13px;
}
.service{
    margin-left: -12px;
}
.intro{
    width: 65vw;
    margin: 5vh auto;
    display: flex;
    justify-content: space-between;
   
}
.intro-description{
    width: 30vw;
    margin-top: 8%;
}
.intro-description-title{
    font-size: 70px;
    font-weight: 800;
    line-height: 0.8;
}

.shape{
    font-family: 'Miama', sans-serif;
    font-weight: 100;
    font-size: 150px;
}
.intro-description-para{
    margin-top: 7vh;
    width: 35vw;
    font-weight: 100;
    opacity: 0.8;
}
.intro-button{
    margin-top: 3.5vh;
    display: block;
    
}
.join-club{
    width: 13vw;
    border: 1px solid rgba(230, 83, 60, 1) ;
    padding: 3% 0%;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 25px;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;  
}
.download-app{
    width: 13vw;
    border: 1px solid rgb(247, 247, 247) ;
    padding: 3% 0%;
    border-radius: 25px;
    background-color: rgb(41, 41, 41);
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 1vw;
}
.intro-picture{
    width: 35vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-position: 100% -25px ;
    background-image:url(./B10A2-versatile-ui-main/images/Images\ 2.png) ;
   
}
.intro-card, .intro-card-2{
    width: 30%;
    height: 11%;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
    margin-left: 80%;
    margin-top: 27%;
}
.intro-card-h1, .intro-card-h1-2{
    margin-top: 3%;
    font-size: 2rem;
}
.card-para1, .card-para2{
    margin-top: 8px;
    font-size: 0.7rem;
    font-weight: 100;
}
.intro-card-2{
    margin-left: 20%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.play-icon{
    width: 2rem;
    background-color:rgba(230, 83, 60, 1) ;
    border:1px solid rgba(230, 83, 60, 1);
    border-radius: 50%;
    padding: 2%;
    margin-top: 70%;
}
.habit{
    width: 65vw;
    margin: -9% auto;
}
.intro-space{
    width: 35vw;
    margin: 0px auto;
}
.habit-title{
    text-align: center;
    font-size: 2.6rem;
    font-weight: 800;
}
.habit-para{
     margin-top: 3%;
    text-align: center;
    font-weight: 100;
   opacity: 0.7;
}
.habit-type-img{
    border: 0.2rem solid rgb(51, 51, 51);
    border-radius: 50%;
    width: 11vw;
    margin: 0px auto;
}
.habit-type{
    width: 17vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.habit-type-header{
    margin-top: 12%;
   text-align: center;
   font-weight: 500;
}
.habit-type-para{
    margin-top: 2%;
    text-align: center;
    font-weight: 100;
    opacity: 0.7;
    font-size: 0.85rem;
}
.habit-type-element{
    display: flex;
    margin-top: 5% ;
}

.join-now-poster{
    width: 65vw;
    height: 45vh;
    margin: 15% 1% 0% 17.7%;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 20px;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    padding: 5%;
}
.poster-header{
    font-size: 2.9rem;
    width: 50%;
    font-weight: 800;
}
.poster-para{
    width: 60%;
   font-size: 0.8rem;
    margin-top: 3%;
    font-weight: 200;
    opacity: 0.7;
    line-height: 25px;
}
.poster-desctiption{
    margin-top: -6%;
    
}
.poster-img{
    border: 1px solid rgb(71, 71, 71);
    border-radius: 15px;
    scale: 1.6;
    margin-right: 1.5%;
}
.poster-button, .cal-button{
    border: 1px solid rgba(230, 83, 60, 1);
             background-color:rgb(222, 68, 44) ;
             padding: 2%;
             color: white;
             border-radius: 40px ;
             width: 13vw;
             height: 21%;
             font-size: 1.3rem;
             margin-top: 3%;
}
.BMI-Claculator{
    width: 65vw;
    margin: 6% 30% 0% 30%;  
}
.BMI-header{
    font-size: 2.8rem;
    font-weight: 800;
}
.BMI-para{
  font-weight: 200;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-top: 2%;
}
.calculator{
    width: 100vw;
    height: 65%;
    background-color: rgb(34, 34, 34);
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
td{
    border: 1px solid rgb(85, 85, 85);
    padding: 3%;
    font-size: 0.9rem;
}
table{
    border-collapse: collapse;
    
}
.calculator-element{
    width: 65vw;
    margin: 4% auto;
    display: flex;
    justify-content: space-between;
}
.table-data{
    font-size: 0.8rem;
    font-weight: 200;
    opacity: 0.7;
    padding: 10px 30px; 
}
.table-head{
    padding: 4%;
}
.chart-title{
    font-size: 1.7rem;
    margin-left: -5%;
}
.chart-table{
    margin-top: 20%;
    scale: 1.1;


}
.calculation{
    margin-left: 20%;
    margin-top: 2%;
    scale: 1.2;
    line-height: 2;
}
.calculation-para{
    font-weight: 200;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: 0%;
    margin-bottom: 4%;
}
.height{
    width: 95%;
    padding: 10px;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 5px;
    background-color: rgb(43, 42, 42);
    margin: 4px;
}

.requirement{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: -1%;
}
.selection{
    background-color: rgb(43, 42, 42);
     color: rgb(145, 145, 145);
    width: 95%;
    padding: 10px;
    border: 1px solid rgb(43, 42, 42);
    border-radius: 5px;
    background-color: rgb(43, 42, 42);
    margin: 4px;
}
#factor{
    grid-column: 1/3;
    grid-row: 3;
    width: 98%;
}
#calculate-info{
    font-size: 1rem;
}
#team-title{
    margin-top: 4%;
   text-align: center;
    
}
#team-para{
    text-align: center;
}
.team-background{
    background-color: rgb(38, 38, 38);
    width: 65vw;
    border: 1px solid rgb(38,38,38);
    border-radius: 10px;

}
.team-center{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.profile{
    height: 33vh;
  
    background-image:url(./B10A2-versatile-ui-main/images/trainer1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(38,38,38);
    border-radius: 10px;
    background-color: rgb(0,0,0,0.3);
    background-blend-mode: overlay;

}
.trainers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#Jeromw{
    margin: 5% 2% 2.5% 5%;
}
#Cameron{
    margin: 5% 2% 2.5% 0%;
    background-image: url(./B10A2-versatile-ui-main/images/trainer2.png);
}
#Darrell{
    margin-top: 5%;
    margin-right: 5%;
    background-image: url(./B10A2-versatile-ui-main/images/trainer3.png);
}
#Dianne{
    margin: 0% 2% 5% 5%;
    background-image: url(./B10A2-versatile-ui-main/images/trainer4.png);
}
#Cody{
    margin-right: 2%;
    background-image: url(./B10A2-versatile-ui-main/images/trainer5.png);
}
#Theresa{
    margin-right: 5%;
    background-image: url(./B10A2-versatile-ui-main/images/trainer6.png);
}

.footer{
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.footer-align{
    width: 65vw;
    display: flex;
    justify-content: space-between;
    margin: 3%;
    border-bottom: 2px solid rgb(53, 53, 53);
    padding-bottom: 60px;
}
.footer-left-title{
    color:rgb(243, 71, 45) ;
    font-weight: 800;
    font-size: 4rem;
    font-style: italic;
}
.footer-left-para{
  font-weight: 100;
  font-size: 0.8rem;
  width: 50%;
  margin-top: 1%;
  line-height: 1.5;
  opacity: 0.7;
}
.mid{
    margin-left: -50%;
    scale: 1.2;
    margin-top: 4%;
}
.mid-items{
    font-size: 0.9rem;
    color: rgb(96, 96, 96);
    line-height: 2.5;
    font-weight: 400;
    margin-top: 18%;
}
.right{
    scale: 1.2;
    margin-top: 4%;
}
 hr{
    margin-left:2%; 
    
} 
.horizontal-line{
    width: 68vw;
}
.copyright-para{
    text-align: center;
    margin: 5%;
    opacity: 0.3;
}
.trainer-name{
    position: relative;
    top: 70%;
    left: 5%;
    font-size: 1.3rem;
}
.roll{
    position: relative;
    top: 73%;
    left: 5%;
    font-size: 0.9rem;
    opacity: 0.7;
    font-weight: 200;
}



.pricing-section {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 75vw;
    padding: 2%
}

.card {
    background-color: rgb(28, 28, 28);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 3%;
    width: 300px;
    transition: transform 0.3s ease;
}
.facilities{
    line-height: 1.5;
  margin-top: 7%;
  margin-bottom: 7%;
}
.card:hover {
    transform: translateY(-10px) scale(1.1) ;
    background-color: rgb(24, 30, 33);
    box-shadow: 0 8px 15px rgb(86, 17, 17);
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fafafa;
}

.price {
    font-size: 28px;
    color: #e74c3c;
    margin: 15px 0;
}

.card p {
    font-size: 16px;
    color: white;
    margin: 10px 0;
   border-bottom: 1px solid white;
}

.month{
    font-size: 0.9rem;
    font-weight: 200;
    opacity: 0.7;
}


button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c0392b;
}

.package-title{
    text-align: center;
    font-size: 2.8rem;
    margin-top: 5%;
}
.package-para{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    margin-top: 1%;
}

.facilities ul li{
    margin-top: 4%;
    font-size: 0.9rem;
    font-weight: 200;
    opacity: 0.7;
}
#check{
    display: none;
}
.checkbtn{
   float: right;
   line-height: 2.7;
font-size: 1.2rem;
   display: none;
}
 #check:checked ~ .conUl{
    margin-left: 30%;
 }


@media (max-width:576px) {
    .checkbtn{
        display: inline-block;
       
    }
    nav ul{
        width: 100%;
        height: auto;
        flex-direction: column;
        background-color: rgb(86, 45, 26);
        margin-left: 80px;
        padding: 20px;
        left: -100%;
      
    }
    .conUl{
        margin-left: -800%;
        transition: 0.5s;

    }

    .home{
        margin-left: 9%;
        
    }
    .service{
        margin-left: 23%;
    }
    .contact{
        margin-left: 23%;
    }
    .about{
        margin-left: 27%;
    }
    .header-items{
        height: 6vh;
        width: 80%;
    }
    .intro-description-title{
        font-size: 2rem;
        width: 60vw;
    }
     .intro-description-para{
        margin-top: 15%;
        width: 62vw;
     }
   .intro{
    width: 85%;
    flex-direction: column;
    margin: 1% auto;
   }
   .shape{
    font-size: 4rem;
   }
   .join-club{
    width: 40vw;
   }
   .download-app{
    width: 40vw;
   }
   .intro-button{
    width: 100vw;
  display: flex;
  flex-direction: row;
  margin-left: 6%;
   }
   .intro-picture{
    height: 55vh;
     width: 100vw;
    background-position: 50% 25px;
   }
   .intro-card{
    margin-left: 60%;
    height: 8vh;
   }
   .intro-card-2{
    height: 8vh;
    width: 35vw;
    margin-left: 10%;
   }
   .habit-title{
    font-size: 2rem;
    margin-top: 40%;
    width: 100vw;
    margin-left: -90%;
   }
   .habit-para{
    margin-top: 10%;
    width: 70vw;
    margin-left: -50%;
   }
}